extends layout

block content
  h1= title
  form(method='post' enctype='multipart/form-data')
    input(type='file', name='myFile')
    input(type='submit', name='upload', value='Cargar')
  
  table.table.table-striped
    tr
      th Filename 
    
    each file in files
      tr 
        td 
          a(href="/get/"+file.fileName) #{file.fileName}
  

